School_Web/School_Web/Web References/net.npsyzx.www/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TokenGetCredence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenGetCredenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenGetCredenceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenInsertResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenGetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenGetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenGetUserNameResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTokenResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TokenGetCredenceSoapIn">
    <wsdl:part name="parameters" element="tns:TokenGetCredence" />
  </wsdl:message>
  <wsdl:message name="TokenGetCredenceSoapOut">
    <wsdl:part name="parameters" element="tns:TokenGetCredenceResponse" />
  </wsdl:message>
  <wsdl:message name="TokenInsertSoapIn">
    <wsdl:part name="parameters" element="tns:TokenInsert" />
  </wsdl:message>
  <wsdl:message name="TokenInsertSoapOut">
    <wsdl:part name="parameters" element="tns:TokenInsertResponse" />
  </wsdl:message>
  <wsdl:message name="TokenGetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:TokenGetUserName" />
  </wsdl:message>
  <wsdl:message name="TokenGetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:TokenGetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ClearTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ClearToken" />
  </wsdl:message>
  <wsdl:message name="ClearTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ClearTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="TokenServiceSoap">
    <wsdl:operation name="TokenGetCredence">
      <wsdl:input message="tns:TokenGetCredenceSoapIn" />
      <wsdl:output message="tns:TokenGetCredenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TokenInsert">
      <wsdl:input message="tns:TokenInsertSoapIn" />
      <wsdl:output message="tns:TokenInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TokenGetUserName">
      <wsdl:input message="tns:TokenGetUserNameSoapIn" />
      <wsdl:output message="tns:TokenGetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <wsdl:input message="tns:ClearTokenSoapIn" />
      <wsdl:output message="tns:ClearTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenServiceSoap" type="tns:TokenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TokenGetCredence">
      <soap:operation soapAction="http://tempuri.org/TokenGetCredence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenInsert">
      <soap:operation soapAction="http://tempuri.org/TokenInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenGetUserName">
      <soap:operation soapAction="http://tempuri.org/TokenGetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <soap:operation soapAction="http://tempuri.org/ClearToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenServiceSoap12" type="tns:TokenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TokenGetCredence">
      <soap12:operation soapAction="http://tempuri.org/TokenGetCredence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenInsert">
      <soap12:operation soapAction="http://tempuri.org/TokenInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenGetUserName">
      <soap12:operation soapAction="http://tempuri.org/TokenGetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <soap12:operation soapAction="http://tempuri.org/ClearToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="TokenServiceSoap" binding="tns:TokenServiceSoap">
      <soap:address location="http://127.0.0.1/passport/TokenService.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenServiceSoap12" binding="tns:TokenServiceSoap12">
      <soap12:address location="http://127.0.0.1/passport/TokenService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>